body{
    display: flex;
    justify-content: center;
    min-height: 80vh;
    align-items: center;
    background-image: url('assets/background.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.stop-watch{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.display{
    font-size: 3rem;
    font-family: monospace;
    margin: 10px;    
}
.controls button{
    margin: 0 5px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}
.start{
    background-color: hsl(120, 100%, 35%);
    cursor: pointer;
    transition: background-color 0.25s ease;
}
.start:hover{
    background-color: hsl(120, 100%, 25%);
}
.stop{
    background-color: hsl(0, 100%, 35%);
    cursor: pointer;
    transition: background-color 0.25s ease;
}
.stop:hover{
    background-color: hsl(0, 100%, 25%);
}
.reset{
    background-color: hsl(203, 100%, 35%);
    cursor: pointer;
    transition: background-color 0.25s ease;
}
.reset:hover{
    background-color: hsl(203, 100%, 25%);
}
